.light {
    background-color: white !important;
    color : black  !important;
}

.dark {
    background-color : black !important;
    color : white !important;
}

.loader-img {
    height : 300px;
    width : 300px;
}

.search-image-bar {
    background : url('/public/assets/backgroundImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height : 400px;
    display : flex;
    justify-content: center;
    align-items: center;
    color : white;
    flex-direction: column;

}

.popup-btns {
   
}   